.videocall-page-outerdiv {
  padding: 10px;
  background-color: #d1efff;
  height: 100vh;
}

.videocall-page-leftdiv {
  width: 50%;
  float: left;
}

.videocall-page-rightdiv {
  margin-left: 50%;
}

.videocall-iframe-div {
  width: 100vh;
  height: 90vh;
  margin: 5px;
}

.videocall-iframe-element {
  height: 100%;
  width: 100%;
}
