/* Mobiles size */

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .sec-checkup-container {
    margin: auto;
  }

  .library-col {
    visibility: hidden;
  }

  .form-col {
    width: 100%;
  }

  .MuiTypography-root.sec-checkup-header {
    font-size: 45px;
  }
}

/* --- */
/* Tablets size */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .sec-checkup-container {
    margin: auto;
  }

  .library-col {
    width: 50%;
  }

  .form-col {
    width: 50%;
  }

  .MuiTypography-root.sec-checkup-header {
    font-size: 35px;
  }
}

/* --- */
/* Desktops size */

@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {
  .sec-checkup-container {
    margin: auto;
  }

  .library-col {
    margin: auto;
  }

  .form-col {
    margin: auto;
  }

  .MuiTypography-root.sec-checkup-header {
    font-size: 40px;
  }

  .MuiTypography-root.greetings-header {
    font-size: 20px;
  }

  .profile-done-block {
    margin: auto;
    text-align: center;
    padding: 25px;
  }

  .MuiTypography-root.sec-checkup-congrat-header {
    font-size: 35px;
    color: teal;
  }
}

.sec-checkup-container {
  margin: auto;
}

.library-col {
  margin: auto;
}

.form-col {
  margin: auto;
}

.MuiTypography-root.sec-checkup-header {
  font-size: 40px;
}
