/* Mobiles size */

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Info block */
  .Info-block {
    width: 80%;
    margin: auto;
    padding: 5px;
    padding-top: 5%;
  }
  .page-title {
    font-size: 35px;
  }
  .header-container {
    margin: 15px;
    text-align: center;
  }
  #col-1 {
    margin: auto;
    width: 100%;
    max-width: 350px;
  }
  #col-2 {
    margin: auto;
    width: 100%;
    max-width: 350px;
  }

  /* Cards block */
  .row.cards-row {
    margin: auto;
    padding-top: 0px;
  }

  /* Footer block */
  .footer-middle .container {
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer-middle {
    background: #282828;
    padding-top: 3rem;
    color: #fff;
  }

  .footer-left-block {
    border-bottom: 1px solid white;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .footer-bottom {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .footer-right-block ul li {
    color: rgb(109, 109, 109);
  }

  .footer-right-block ul li:hover {
    color: rgb(172, 172, 172);
  }
}

/* --- */
/* Tablets size */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Info block */
  .Info-block {
    width: 70%;
    margin: auto;
    padding: 10px;
    padding-top: 6%;
  }
  .page-title {
    font-size: 45px;
  }
  .header-container {
    margin: 20px;
    text-align: center;
  }
  #col-1 {
    width: 50%;
  }
  #col-2 {
    width: 50%;
  }

  /* Footer block */
  .footer-middle {
    background: #282828;
    padding-top: 3rem;
    color: #fff;
  }

  .footer-left-block {
    border-right: 1px solid white;
    padding-right: 50px;
    margin-right: 25px;
  }

  .footer-bottom {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .footer-right-block ul li {
    color: rgb(109, 109, 109);
  }

  .footer-right-block ul li:hover {
    color: rgb(172, 172, 172);
  }
}

/* --- */
/* Desktops size */

@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Info block */
  .Info-block {
    width: 60%;
    margin: auto;
    padding: 10px;
    padding-top: 7%;
  }
  .page-title {
    font-size: 60px;
  }
  .header-container {
    margin: 20px;
    text-align: center;
  }
  #col-1 {
    width: 50%;
  }
  #col-2 {
    width: 50%;
  }

  /* Footer block */
  .footer-middle {
    background: #282828;
    padding-top: 3rem;
    color: #fff;
  }
  .footer-left-block {
    border-right: 1px solid white;
    padding-right: 50px;
    margin-right: 25px;
  }

  .footer-bottom {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .footer-right-block ul li {
    color: rgb(109, 109, 109);
  }

  .footer-right-block ul li:hover {
    color: rgb(172, 172, 172);
  }
}

/* Info block */
.Info-block {
  width: 60%;
  margin: auto;
  padding: 10px;
  padding-top: 7%;
}
.page-title {
  font-size: 60px;
}
.header-container {
  margin: 20px;
  text-align: center;
}
#col-1 {
  width: 50%;
}
#col-2 {
  width: 50%;
}

/* Footer block */
.footer-middle {
  background: #282828;
  padding-top: 3rem;
  color: #fff;
}
.footer-left-block {
  border-right: 1px solid white;
  padding-right: 50px;
  margin-right: 25px;
}

.footer-bottom {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.footer-right-block ul li {
  color: rgb(109, 109, 109);
}

.footer-right-block ul li:hover {
  color: rgb(172, 172, 172);
}
