@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.login h1 {
  font-weight: 650;
  font-size: 45px;
  text-align: center;
  color: #0f3d7d;
}

.login button {
  border: none;
  outline: none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px 0;
  color: #e6a57d;
  font-size: 16px;
  letter-spacing: 1px;
  background: #0f3d7d;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #d1efff;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: rgba(40, 40, 40, 0.4);
  margin: 14px 0;
  display: block;
  font-size: 15px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(20, 20, 20, 0.1);
  color: black;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
  text-align: center;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #696969;
}

.login .loginContainer .btnContainer p span {
  color: #696969;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}
