/* Mobiles size */

/* Info block */
@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* --- */
/* Tablets size */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* --- */
/* Desktops size */

@media only screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {
}
.logout-btn {
  width: 100px;
  position: absolute;
  right: 25px;
}

/* .library-icon {
  color: white;
  position: absolute;
  top: 20px;
  right: 170px;
}
.chatroom-icon {
  color: white;
  position: absolute;
  top: 20px;
  right: 100px;
}
.profile-icon {
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
} */
