/* Mobiles size */

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .Storybook-Academy-container {
    margin: auto;
  }

  .library-col {
    visibility: hidden;
  }

  .form-col {
    width: 100%;
  }

  .MuiTypography-root.Storybook-Academy-header {
    font-size: 45px;
  }

  .MuiTypography-root.greetings-header {
    font-size: 20px;
  }
}

/* --- */
/* Tablets size */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .Storybook-Academy-container {
    margin: auto;
  }

  .library-col {
    width: 50%;
  }

  .form-col {
    width: 50%;
  }

  .MuiTypography-root.Storybook-Academy-header {
    font-size: 35px;
  }

  .MuiTypography-root.greetings-header {
    font-size: 20px;
  }
}

/* --- */
/* Desktops size */

@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {
  .Storybook-Academy-container {
    margin: auto;
  }

  .library-col {
    margin: auto;
  }

  .form-col {
    margin: auto;
  }

  .MuiTypography-root.Storybook-Academy-header {
    font-size: 40px;
  }

  .MuiTypography-root.greetings-header {
    font-size: 20px;
  }
}

.Storybook-Academy-container {
  margin: auto;
}

.Child-form-div {
  background-color: #d1efff;
  margin: 0;
  padding: 20px;
}

.child-form-submit-button {
  border: none;
  outline: none;
  width: 125px;
  padding: 15px 0;
  color: #e6a57d;
  font-size: 16px;
  letter-spacing: 1px;
  background: #0f3d7d;
  cursor: pointer;
}

.library-col {
  margin: auto;
}

.form-col {
  margin: auto;
}

.MuiTypography-root.Storybook-Academy-header {
  font-size: 40px;
  color: #0f3d7d;
}

.MuiTypography-root.greetings-header {
  font-size: 20px;
  color: #e6a57d;
}
