/* Mobiles size */

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  #readpal-congrat-enter-btn {
    width: 230px;
    font-size: 25px;
    margin: 20px;
    height: 100px;
  }
  #readpal-congrat-create-btn {
    width: 230px;
    font-size: 25px;
    margin: 20px;
    height: 100px;
  }
}

/* --- */
/* Tablets size */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #readpal-congrat-enter-btn {
    width: 230px;
    font-size: 25px;
    margin: 20px;
    height: 100px;
  }
  #readpal-congrat-create-btn {
    width: 230px;
    font-size: 25px;
    margin: 20px;
    height: 100px;
  }
}

/* --- */
/* Desktops size */

@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {
  .MuiTypography-root.readpal-congrat-header {
    font-size: 35px;
    color: teal;
  }

  .MuiTypography-root.readpal-congrat-text {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .MuiTypography-root.readpal-greetings-text {
    font-size: 20px;
    margin: 50px;
  }

  #readpal-congrat-enter-btn {
    width: 230px;
    font-size: 25px;
    margin: 20px;
    height: 100px;
  }
  #readpal-congrat-create-btn {
    width: 230px;
    font-size: 25px;
    margin: 20px;
    height: 100px;
  }
}

.MuiTypography-root.readpal-congrat-header {
  font-size: 35px;
  color: teal;
}

.MuiTypography-root.readpal-congrat-text {
  font-size: 28px;
  margin-bottom: 30px;
}

.MuiTypography-root.readpal-greetings-text {
  font-size: 20px;
  margin: 50px;
}

#readpal-congrat-enter-btn {
  width: 230px;
  font-size: 25px;
  margin: 20px;
  height: 100px;
}
#readpal-congrat-create-btn {
  width: 230px;
  font-size: 25px;
  margin: 20px;
  height: 100px;
}
